@import "tailwindcss";

/* Your custom styles can go here */
body {
  background-color: #ffffff;
  color: #000000;
}

/* If you need custom theme extensions, use @theme */
@theme {
  --color-brand-green: #73e08b;
  --color-brand-green-hover: #5acb71;
}